body{
    margin: 0 auto;
    width: 940px;
    font-family: "Helvetica",sans-serif;

}

figure{
    text-align: center;
    background-color: #2E4255;
    color: white;
}
figure img{
    width: 100%;
}

.titulo{
    border: 10px solid black;
    padding: 10px;
    background-color: #2E4255;
    color:white;
}

.subtitulo{
    border-bottom: 2px solid #2E4255;
}
.matriz-musicdot{
    width: 550px;
    margin: 0 auto;
    padding: 20px;
    
}

.familia-tupfeln{
    width: 300px;
    padding: 10px;
    float: right;
}